<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447234467571-4ek3ib1q7hiq3cb97dkqdnhhh3b7rk43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447234467571-4ek3ib1q7hiq3cb97dkqdnhhh3b7rk43</string>
	<key>API_KEY</key>
	<string>AIzaSyAjPNYmjB7efyIJ8UjSz4VEfZA89EWVRr4</string>
	<key>GCM_SENDER_ID</key>
	<string>447234467571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carissafarry.StudyFora</string>
	<key>PROJECT_ID</key>
	<string>firebasic-3e865</string>
	<key>STORAGE_BUCKET</key>
	<string>firebasic-3e865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447234467571:ios:e302c554df313994eab986</string>
</dict>
</plist>