<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.447234467571-4ek3ib1q7hiq3cb97dkqdnhhh3b7rk43</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>564487273221-mi8tfc5pnr9od39kmflbm9j20na22h1s.apps.googleusercontent.com</string>
</dict>
</plist>
